<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Free Rooms Timetable
    </title>
    <link rel='stylesheet' type='text/css' href='style.css'/>
</head>

<body>

<table border=0>
    <tr>
        <td align=center colspan=3>
            <h2>
                Free Rooms Timetable
            </h2>
            <small>Published on
                <b>
                    $generation_date
                </b>.
            </small>
        </td>
    $table_entries
</table>

<hr>
<i>Notations:</i> <br>
<table border="1">
    <tr><td width="25px" bgcolor="#66FF66">&nbsp;</td><td>Free</td></tr>
    <tr><td bgcolor="#FF0000">&nbsp;</td><td>Occupied</td></tr>
</table>
</body>

</html>