<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Students timetable
    </title>
    <link rel='stylesheet' type='text/css' href='style.css'/>
</head>

<body>
    <h2>
        Students timetable
    </h2>

    <p>
        <small>
            Published on
            <b>
                $generation_date
            </b>
        </small>
    <ul>
        <li>
            <a href="timetable.html">
                The complete timetable of the students
            </a>
        </li>
        <li>
            The detailed timetable by study units
            $element_lists
        </li>
    </ul>
</body>

</html>