<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Timetable
    </title>
    <link rel='stylesheet' type='text/css' href='style.css'/>
    <style type="text/css">
      body {
        max-width: 43em;
        margin-left:auto;
        margin-right:auto;
      }
    </style>
</head>

<body>
    <h1>Timetable</h1>
    <h2>Faculty of Computer Science Iasi</h2>

    <p>
    <ul>
        <li><a href="./students.html">Students</a>
        <li><a href="./teachers.html">Teachers</a>
        <li><a href="./rooms.html">Rooms</a>
        <li><a href="./disciplines.html">Disciplines</a>
    </ul>

    <p><br>

    <ul type="square">
        <li><b>Date of generation: $generation_date</b>
        <li><b>Version: $version</b>
    </ul>
</body>

</html>