<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Rooms timetable
    </title>
    <link rel='stylesheet' type='text/css' href='style.css'/>
</head>

<body>
    <h2>
        Rooms timetable
    </h2>

    <p>
        <small>
            Published on
            <b>
                $generation_date
            </b>
        </small>

    <ul>
        <li> Laboratory rooms
            <ul>
                $lab_elements
            </ul>
        <li> Course rooms
            <ul>
                $course_elements
            </ul>
    </ul>

</body>

</html>