<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$title</title>
    <link rel='stylesheet' type='text/css' href='./style.css'/>
</head>

<body>
    <h2>
        $title
    </h2>
    <small>
        Published on
        <b>
            $generation_date
        </b>
    </small>
    <p>
    <table border cellpading="2">
        <tr bgcolor="#8080FF">
            <th> From </th>
            <th> To </th>
            <th> Discipline </th>
            <th> Type </th>
            <th> Students </th>
            <th> Teacher </th>
            <th> Room </th>
        </tr>

        <tr>
            <td colspan=10 bgcolor="#CCCCFF">
                <b>Monday</b>
            </td>
        </tr>

        $monday_elements

        <tr>
            <td colspan=10 bgcolor="#CCCCFF">
                <b>Tuesday</b>
            </td>
        </tr>

        $tuesday_elements

        <tr>
            <td colspan=10 bgcolor="#CCCCFF">
                <b>Wednesday</b>
            </td>
        </tr>

        $wednesday_elements

        <tr>
            <td colspan=10 bgcolor="#CCCCFF">
                <b>Thursday</b>
            </td>
        </tr>

        $thursday_elements

        <tr>
            <td colspan=10  bgcolor="#CCCCFF"  >
                <b>Friday</b>
            </td>
        </tr>

        $friday_elements

    </table>

</body>

</html>