<td width=300px align=center valign=top>
  <p>
    <font size=+2><b>
      $room_name
    </b></font><br>

  <table border=1>
    <th/>
    <th width=25px>L</th>
    <th width=25px>M</th>
    <th width=25px>M</th>
    <th width=25px>J</th>
    <th width=25px>V</th>
    <th width=25px>S</th>
    <th width=25px>D</th>
    <tr>
      <td>08:00</td>
      <td bgcolor="$00c"
          title=""> &nbsp; </td>  <td bgcolor="$01c"
                                      title=""> &nbsp; </td>  <td bgcolor="$02c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$03c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$04c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$05c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$06c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>09:00</td>
      <td bgcolor="$10c"
          title=""> &nbsp; </td>  <td bgcolor="$11c"
                                      title=""> &nbsp; </td>  <td bgcolor="$12c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$13c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$14c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$15c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$16c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>10:00</td>
      <td bgcolor="$20c"
          title=""> &nbsp; </td>  <td bgcolor="$21c"
                                      title=""> &nbsp; </td>  <td bgcolor="$22c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$23c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$24c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$25c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$26c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>11:00</td>
      <td bgcolor="$30c"
          title=""> &nbsp; </td>  <td bgcolor="$31c"
                                      title=""> &nbsp; </td>  <td bgcolor="$32c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$33c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$34c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$35c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$36c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>12:00</td>
      <td bgcolor="$40c"
          title=""> &nbsp; </td>  <td bgcolor="$41c"
                                      title=""> &nbsp; </td>  <td bgcolor="$42c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$43c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$44c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$45c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$46c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>13:00</td>
      <td bgcolor="$50c"
          title=""> &nbsp; </td>  <td bgcolor="$51c"
                                      title=""> &nbsp; </td>  <td bgcolor="$52c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$53c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$54c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$55c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$56c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>14:00</td>
      <td bgcolor="$60c"
          title=""> &nbsp; </td>  <td bgcolor="$61c"
                                      title=""> &nbsp; </td>  <td bgcolor="$62c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$63c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$64c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$65c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$66c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>15:00</td>
      <td bgcolor="$70c"
          title=""> &nbsp; </td>  <td bgcolor="$71c"
                                      title=""> &nbsp; </td>  <td bgcolor="$72c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$73c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$74c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$75c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$76c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>16:00</td>
      <td bgcolor="$80c"
          title=""> &nbsp; </td>  <td bgcolor="$81c"
                                      title=""> &nbsp; </td>  <td bgcolor="$82c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$83c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$84c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$85c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$86c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>17:00</td>
      <td bgcolor="$90c"
          title=""> &nbsp; </td>  <td bgcolor="$91c"
                                      title=""> &nbsp; </td>  <td bgcolor="$92c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$93c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$94c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$95c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$96c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>18:00</td>
      <td bgcolor="$100c"
          title=""> &nbsp; </td>  <td bgcolor="$101c"
                                      title=""> &nbsp; </td>  <td bgcolor="$102c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$103c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$104c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$105c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$106c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
    <tr>
      <td>19:00</td>
      <td bgcolor="$110c"
          title=""> &nbsp; </td>  <td bgcolor="$111c"
                                      title=""> &nbsp; </td>  <td bgcolor="$112c"
                                                                  title=""> &nbsp; </td>  <td bgcolor="$113c"
                                                                                              title=""> &nbsp; </td>  <td bgcolor="$114c"
                                                                                                                          title=""> &nbsp; </td>  <td bgcolor="$115c"
                                                                                                                                                      title=""> &nbsp; </td>  <td bgcolor="$116c"
                                                                                                                                                                                  title=""> &nbsp; </td>             </tr>
  </table>

  <table border=1>
  </table>

</td>